<html>

<head>
<title>Title</title>
</head>

<body>

<p>De kans dat er minder dan 495 gram pasta in een pot zit waar gemiddeld 500 gram in zou zitten bij een standaard deviatie van 15: <!--rinline(pnorm(495, 500, 15))--></p>


</body>
</html>
