<html>

<head>
<title>Title</title>
</head>

<body>

<p>De kans dat er minder dan 495 gram pasta in een pot zit waar gemiddeld 500 gram in zou zitten bij een standaard deviatie van 15: <!--rinline(pnorm(495, 500, 15))--></p>
<p>De kans dat er minder dan 495 gram pasta in een van 25 potten zit waar gemiddeld 500 gram in zou zitten bij een standaard deviatie van 15: <!--rinline(pnorm(495, 500, 15/sqrt(25)))--></p>
<h2>opdracht 2</h2>
<p>Volgens de 76/211/EEG richtlijn mag er bij producten van 500 gram een fout zijn van absoluut 7,5 gram.</p>
<!--begin.rcode
hist(rnorm(10000000, 500, 3), breaks = 50, freq = F)
end.rcode-->
<p>In het bovenstaande histogram kun je de normale verdeling bij een standaarddeviatie van 3 zien, in dit geval is de kans dat de fout groter is dan 7.5g heel klein is.</p>
<!--begin.rcode
pnorm(475, 499.1, 15)
end.rcode-->
<p>de kans dat er de pot minder weegt dan 475 gram(5% afwijking) is bij 499.1 gram: <!--rinline(pnorm(475, 499.1, 15))--> dus bij een standaarddeviatie van 15 mag de machine 499.1 gram in de pot stoppen.</p>
<!--begin.rcode
pnorm(475, 524, 30)
end.rcode-->
<p>de kans dat er de pot minder weegt dan 475 gram(5% afwijking) is bij 524 gram: <!--rinline(pnorm(475, 524, 30))--> dus bij een standaarddeviatie van 30 mag de machine 524 gram in de pot stoppen.</p>
<p>De machine heeft dus baat bij een kleinere standaarddeviatie, dat kots minder pasta.</p>
</body>
</html>
